<div class="nav">
    <div>

        <input type="checkbox" id="nav-check">
        <div class="nav-logo">
            <div class="nav-title">
                jibhi
            </div>
        </div>
    </div>
    
    <div class="nav-btn">
      <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
      </label>
    </div>
    <div class="search-box">
        <input type="text" placeholder="enter your search term" name="searchTerm">
    </div>
    
    <div class="nav-links">
      <a href="">Partner with us</a>
    </div>
  </div>